Citations with page references are wrong with newer version

### General information

I am writing a LaTeX-document on a Gentoo machine and on Fedora 41. The biblatex-ieee version is different:

 - Fedora 2021/12/06 v1.3f
 - Gentoo 2024-11-17 v1.4a
 
Gentoo has the newer version of the package and the output looks different for citations with page references. Fedora is producing the expected output.

### MWE

literaturverzeichnis.bib

```bib
@misc{nist800207,
  author = {Scott Rose and Oliver Borchert and Stuart Mitchell and Sean Connelly},
  title = {Zero Trust Architecture},
  year = {2020},
  month = {08},
  day = {10},
  publisher = {Special Publication (NIST SP), National Institute of Standards and Technology, Gaithersburg, MD},
  url = {https://tsapps.nist.gov/publication/get_pdf.cfm?pub_id=930420},
  doi = {https://doi.org/10.6028/NIST.SP.800-207},
  language = {en},
}

@misc{rfc5280,
    series =    {Request for Comments},
    number =    5280,
    howpublished =  {RFC 5280},
    publisher = {RFC Editor},
    doi =       {10.17487/RFC5280},
    url =       {https://www.rfc-editor.org/info/rfc5280},
    author =    {Sharon Boeyen and Stefan Santesson and Tim Polk and Russ Housley and Stephen Farrell and David Cooper},
    title =     {{Internet X.509 Public Key Infrastructure Certificate and Certificate Revocation List (CRL) Profile}},
    pagetotal = 151,
    year =      2008,
    month =     may,
    abstract =  {This memo profiles the X.509 v3 certificate and X.509 v2 certificate revocation list (CRL) for use in the Internet. An overview of this approach and model is provided as an introduction. The X.509 v3 certificate format is described in detail, with additional information regarding the format and semantics of Internet name forms. Standard certificate extensions are described and two Internet-specific extensions are defined. A set of required certificate extensions is specified. The X.509 v2 CRL format is described in detail along with standard and Internet-specific extensions. An algorithm for X.509 certification path validation is described. An ASN.1 module and examples are provided in the appendices. {[}STANDARDS-TRACK{]}},
}

@misc{rfc6960,
    series =    {Request for Comments},
    number =    6960,
    howpublished =  {RFC 6960},
    publisher = {RFC Editor},
    doi =       {10.17487/RFC6960},
    url =       {https://www.rfc-editor.org/info/rfc6960},
    author =    {Stefan Santesson and Michael Myers and Rich Ankney and Ambarish Malpani and Slava Galperin and Dr. Carlisle Adams},
    title =     {{X.509 Internet Public Key Infrastructure Online Certificate Status Protocol - OCSP}},
    pagetotal = 41,
    year =      2013,
    month =     jun,
    abstract =  {This document specifies a protocol useful in determining the current status of a digital certificate without requiring Certificate Revocation Lists (CRLs). Additional mechanisms addressing PKIX operational requirements are specified in separate documents. This document obsoletes RFCs 2560 and 6277. It also updates RFC 5912.},
}
```
test.tex

```latex
\documentclass[11pt, parskip = true]{scrartcl}

%\usepackage[ngerman]{babel}

\usepackage[style=ieee,backend=biber]{biblatex}
\addbibresource{literaturverzeichnis.bib}

\begin{document}
Zero Trust \cite[12]{nist800207}.

Certificates \autocites[5\psq]{rfc5280}[5]{rfc6960}.

\printbibliography{}
\end{document}

```

### Steps to reproduce

1. Compile the file "test.tex" including "literaturverzeichnis.bib"

### Expected output

The text shows citations like `Zero Trust [1, p. 12].` and `Certificates [2, pp. 5 sq., 3, p. 5].` as it is the case on Fedora.

### Actual output

The output on Gentoo looks wrong: `Zero Trust [1], p. 12.` and `Certificates [(2), pp. 5 sq., (3), p. 5].`.


### Workaround

With `\usepackage[style=ieee,backend=biber,citestyle=ieee-comp]{biblatex}` the output looks correct again.

### My research

I think that `citestyle=ieee-comp` was introduced, because IEEE changed the way to list several references (from "[1]-[3]" to "[1], [2], [3]"). But I think, this should not affect the way how pages of a book are referenced in the text.

Could you add `\listfiles` to your input and report the resulting `File list`? For me
```
 *File List*
 article.cls    2025/01/22 v1.4n Standard LaTeX document class
  size10.clo    2025/01/22 v1.4n Standard LaTeX file (size option)
biblatex.sty    2024/03/21 v3.20 programmable bibliographies (PK/MW)
pdftexcmds.sty    2020-06-27 v0.33 Utility functions of pdfTeX for LuaTeX (HO)
infwarerr.sty    2019/12/03 v1.5 Providing info/warning/error messages (HO)
   iftex.sty    2024/12/12 v1.0g TeX engine tests
 ltxcmds.sty    2023-12-04 v1.26 LaTeX kernel commands for general use (HO)
etoolbox.sty    2025/02/11 v2.5l e-TeX tools for LaTeX (JAW)
  keyval.sty    2022/05/29 v1.15 key=value parser (DPC)
kvoptions.sty    2022-06-15 v3.15 Key value format for package options (HO)
kvsetkeys.sty    2022-10-05 v1.19 Key value parser (HO)
  logreq.sty    2010/08/04 v1.0 xml request logger
  logreq.def    2010/08/04 v1.0 logreq spec v1.0
  ifthen.sty    2024/03/16 v1.1e Standard LaTeX ifthen package (DPC)
     url.sty    2013/09/16  ver 3.4  Verb mode for urls, etc.
  blx-dm.def    2024/03/21 v3.20 biblatex datamodel (PK/MW)
blx-unicode.def
blx-compat.def    2024/03/21 v3.20 biblatex compatibility (PK/MW)
biblatex.def    2024/03/21 v3.20 biblatex compatibility (PK/MW)
standard.bbx    2024/03/21 v3.20 biblatex bibliography style (PK/MW)
 numeric.bbx    2024/03/21 v3.20 biblatex bibliography style (PK/MW)
numeric-comp.bbx    2024/03/21 v3.20 biblatex bibliography style (PK/MW)
    ieee.bbx    2025-03-14 v1.4e biblatex bibliography style
numeric-verb.cbx    2024/03/21 v3.20 biblatex citation style (PK/MW)
    ieee.cbx    2025-03-14 v1.4e biblatex citation style
biblatex.cfg    
   expl3.sty    2025-03-26 L3 programming layer (loader) 
l3backend-luatex.def    2025-03-14 L3 backend support: PDF output (LuaTeX)
blx-case-expl3.sty    2024/03/21 v3.20 expl3 case changing code for biblatex
  xparse.sty    2024-08-16 L3 Experimental document command parser
 english.lbx    2024/03/21 v3.20 biblatex localization (PK/MW)
    test.bbl
 ***********
```
gives

<img width="280" alt="Image" src="https://github.com/user-attachments/assets/2ef2272f-3497-451e-9313-f2809bb5c5d0" />

Thank you for taking the time to help me.

The file list on Gentoo with TexLive 2024 and `\usepackage[style=ieee,backend=biber]{biblatex}`:

```
 *File List*
scrartcl.cls    2024/10/24 v3.43 KOMA-Script document class (article)
scrkbase.sty    2024/10/24 v3.43 KOMA-Script package (KOMA-Script-dependent basics and keyval usage)
 scrbase.sty    2024/10/24 v3.43 KOMA-Script package (KOMA-Script-independent basics and keyval usage)
scrlfile.sty    2024/10/24 v3.43 KOMA-Script package (file load hooks)
scrlfile-hook.sty    2024/10/24 v3.43 KOMA-Script package (using LaTeX hooks)
 scrlogo.sty    2024/10/24 v3.43 KOMA-Script package (logo)
  keyval.sty    2022/05/29 v1.15 key=value parser (DPC)
tocbasic.sty    2024/10/24 v3.43 KOMA-Script package (handling toc-files)
scrsize11pt.clo    2024/10/24 v3.43 KOMA-Script font size class option (11pt)
typearea.sty    2024/10/24 v3.43 KOMA-Script package (type area)
biblatex.sty    2024/03/21 v3.20 programmable bibliographies (PK/MW)
pdftexcmds.sty    2020-06-27 v0.33 Utility functions of pdfTeX for LuaTeX (HO)
infwarerr.sty    2019/12/03 v1.5 Providing info/warning/error messages (HO)
   iftex.sty    2022/02/03 v1.0f TeX engine tests
 ltxcmds.sty    2023-12-04 v1.26 LaTeX kernel commands for general use (HO)
etoolbox.sty    2020/10/05 v2.5k e-TeX tools for LaTeX (JAW)
kvoptions.sty    2022-06-15 v3.15 Key value format for package options (HO)
kvsetkeys.sty    2022-10-05 v1.19 Key value parser (HO)
  logreq.sty    2010/08/04 v1.0 xml request logger
  logreq.def    2010/08/04 v1.0 logreq spec v1.0
  ifthen.sty    2024/03/16 v1.1e Standard LaTeX ifthen package (DPC)
     url.sty    2013/09/16  ver 3.4  Verb mode for urls, etc.
  blx-dm.def    2024/03/21 v3.20 biblatex datamodel (PK/MW)
blx-compat.def    2024/03/21 v3.20 biblatex compatibility (PK/MW)
biblatex.def    2024/03/21 v3.20 biblatex compatibility (PK/MW)
standard.bbx    2024/03/21 v3.20 biblatex bibliography style (PK/MW)
 numeric.bbx    2024/03/21 v3.20 biblatex bibliography style (PK/MW)
numeric-comp.bbx    2024/03/21 v3.20 biblatex bibliography style (PK/MW)
    ieee.bbx    2024-11-17 v1.4a biblatex bibliography style
 numeric.cbx    2024/03/21 v3.20 biblatex citation style (PK/MW)
    ieee.cbx    2024-11-17 v1.4a biblatex citation style
biblatex.cfg    
   expl3.sty    2024-11-02 L3 programming layer (loader) 
l3backend-pdftex.def    2024-05-08 L3 backend support: PDF output (pdfTeX)
blx-case-expl3.sty    2024/03/21 v3.20 expl3 case changing code for biblatex
  xparse.sty    2024-08-16 L3 Experimental document command parser
 english.lbx    2024/03/21 v3.20 biblatex localization (PK/MW)
    test.bbl
 ***********
```

And the file list on Fedora with TexLive 2023:

```
 *File List*
scrartcl.cls    2022/10/12 v3.38 KOMA-Script document class (article)
scrkbase.sty    2022/10/12 v3.38 KOMA-Script package (KOMA-Script-dependent basics and keyval usage)
 scrbase.sty    2022/10/12 v3.38 KOMA-Script package (KOMA-Script-independent basics and keyval usage)
scrlfile.sty    2022/10/12 v3.38 KOMA-Script package (file load hooks)
scrlfile-hook.sty    2022/10/12 v3.38 KOMA-Script package (using LaTeX hooks)
 scrlogo.sty    2022/10/12 v3.38 KOMA-Script package (logo)
  keyval.sty    2022/05/29 v1.15 key=value parser (DPC)
tocbasic.sty    2022/10/12 v3.38 KOMA-Script package (handling toc-files)
scrsize11pt.clo    2022/10/12 v3.38 KOMA-Script font size class option (11pt)
typearea.sty    2022/10/12 v3.38 KOMA-Script package (type area)
biblatex.sty    2023/03/05 v3.19 programmable bibliographies (PK/MW)
pdftexcmds.sty    2020-06-27 v0.33 Utility functions of pdfTeX for LuaTeX (HO)
infwarerr.sty    2019/12/03 v1.5 Providing info/warning/error messages (HO)
   iftex.sty    2022/02/03 v1.0f TeX engine tests
 ltxcmds.sty    2020-05-10 v1.25 LaTeX kernel commands for general use (HO)
etoolbox.sty    2020/10/05 v2.5k e-TeX tools for LaTeX (JAW)
kvoptions.sty    2022-06-15 v3.15 Key value format for package options (HO)
kvsetkeys.sty    2022-10-05 v1.19 Key value parser (HO)
  logreq.sty    2010/08/04 v1.0 xml request logger
  logreq.def    2010/08/04 v1.0 logreq spec v1.0
  ifthen.sty    2022/04/13 v1.1d Standard LaTeX ifthen package (DPC)
     url.sty    2013/09/16  ver 3.4  Verb mode for urls, etc.
  blx-dm.def    2023/03/05 v3.19 biblatex localization (PK/MW)
blx-compat.def    2023/03/05 v3.19 biblatex compatibility (PK/MW)
biblatex.def    2023/03/05 v3.19 biblatex compatibility (PK/MW)
standard.bbx    2023/03/05 v3.19 biblatex bibliography style (PK/MW)
 numeric.bbx    2023/03/05 v3.19 biblatex bibliography style (PK/MW)
numeric-comp.bbx    2023/03/05 v3.19 biblatex bibliography style (PK/MW)
    ieee.bbx    2021/12/06 v1.3f biblatex bibliography style
numeric-comp.cbx    2023/03/05 v3.19 biblatex citation style (PK/MW)
    ieee.cbx    2021/12/06 v1.3f biblatex citation style
biblatex.cfg    
   expl3.sty    2023-02-22 L3 programming layer (loader) 
l3backend-pdftex.def    2023-01-16 L3 backend support: PDF output (pdfTeX)
blx-case-expl3.sty    2023/03/05 v3.19 expl3 case changing code for biblatex
  xparse.sty    2023-02-02 L3 Experimental document command parser
 english.lbx    2023/03/05 v3.19 biblatex localization (PK/MW)
    test.bbl
 ***********
```

I am not sure how easy it is to update biblatex-ieee to v1.4e on Gentoo, but if you want I can try it.